@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Lexend:wght@100..900&family=Quintessential&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Shadows+Into+Light&display=swap');
body {
  margin: 0;
  padding: 0;
  background-image: url(components/pictures/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: repeat-y;
}
.fancy{
  font-family: "Quintessential", serif;
}
.childish{
  font-family: "Shadows Into Light", serif; 
}
.input-box::placeholder{
  font-family: "Shadows Into Light", serif;
}
.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  background: rgba(46, 125, 50, 0.1);
  border-radius: 4px;
  margin: 10px;
}

.container::-webkit-scrollbar-thumb {
  background: #cfd8d1;
  border-radius: 4px;
  transition: background 0.2s ease;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #466148;
}